<!DOCTYPE html>
<html lang="en">
<head> 
	<link rel="stylesheet" href="/public/main.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>FishFinder</title>
</head>
<body>
<main>
	{{{body}}}
</main>
</body>
</html>