<!DOCTYPE html>
<html lang="en">
<head>
<title> Show Finder </title>
</head>
<h1> Show Finder </h1>
<main>
	<p> This website searches the tv maze api and gives you results based on your search. Your search will include up 20 search results, where each can be clicked on to read more information on it. </p>
	
	<form action="/search" method="POST">
	<label for="search">
	<input type="text" name="searchTerm" class="form" id="search" placeholder="Search here">

</label>
	<button type="submit" class="button"> Search </button>
</form>
</main>
</html>