<!DOCTYPE html>
<html lang="en">
<head> 
	<title> My main </title>
	<link rel="stylesheet" href="/public/site.css">

</head>
<body>
<h1 class="title"> TV Show Finding Website</h1>
<hr>
<main>
	{{{body}}}
</main>
<hr>
<footer> Christopher Cousillas </footer>
</body>
</html>