<!DOCTYPE html>
<html lang = "en">
<head> 
	<title> Website </title>
</head>

<body> 
	<header>
		<h1> Login </h1>
	
	{{#if error}}
	<h2 class ="error"> {{{error}}} </h2>
	{{else}}
	{{/if}}
	</header>

	<form action ="/login" method = "POST" id ="login-form" >
		<label for="username" class="labelu"> Enter Username: </label>
			<input type = "text" id= "username" name="username">
			<br>
		<label for="password" class= "labelp"> Enter Password: </label>
		<input type = "text" id= "password" name="password">
		<br>
		<br>
			<button type = "submit" class="button"> Login </button>
		
	</form>



</body>

</html>