.App {
  text-align: center;
}

.App-header {
  background-color: #00ABE4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  padding-bottom: 16px;
}

.App-link {
  color: #37306B;
}


/* component css */


/* home css */
a{
  text-decoration: none;
}

.homeLink{
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 5rem;
}

.linkToPage{
  width: 7rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #00ABE4;
  color:white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.linkToPage:hover{
    background-color: #37306B;
    transform: translatey(.1rem);
    transition-duration: .1s;
}

.homeDesc{
  width: 25%;
  margin: auto;
  color: #37306B;
  font-size: 24px;
}

.line{
  margin: 32px auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 30%;
}

.homeLinkDiv{
  background-color: #E9F1FA;
  padding: .5rem 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.homeLinkDiv:hover{
  background-color: white;
  transform: translatey(.1rem);
  transition-duration: .1s;
}

/* UI*/

.nextPage{
  width: 9rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #00ABE4;
  color:white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 1rem auto;
  color:white;
}


.prevPage{
  width: 9rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #00ABE4;
  color:white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: auto;
}

.pageButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top:1rem;
}

.nextPage:hover,
.prevPage:hover{
  transform: translatey(.1rem);
  transition-duration: .1s;
}

.searchBar{
  
  border: 3px solid #000;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 14%;
  margin: auto;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus{
      border: 3px solid #5551ff;
  }
  
}

/* Lists */

.listTitle{
  color:#37306B;
}

/* characters */

.characterListCard{
  background-color: #37306B;
  box-shadow: 10px 5px 5px grey;
  border-radius: 16px;
  width: 200px;
  padding: 1rem;
  margin: 1rem;
  color:white;
  
}

.characterListCard:hover{
  transform: translatey(.1rem);
  transition-duration: .1s;
}

.characterItems{
  margin: 1rem 10rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.characterImage{
  margin-top: 1rem;
}


/* Individual character card*/

.characterCard{
  background-color: #37306B;
  width: 50%;
  margin: 3rem auto;
  color:#37306B;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 10px 5px 5px grey;
}

.characterInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: auto;
  gap: 3rem;
  padding: 1rem 3rem;
  background-color: #E9F1FA;
  border-radius: 16px;
  justify-content: center;
}

.featuredComicList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.featuredComicButton{
  background-color: #E9F1FA;
  padding: 1rem;
  color:#37306B;
  border-radius: 16px;
  
}

.featuredComicButton:hover{
  transform: translatey(.1rem);
  transition-duration: .1s;
}

